<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i" rel="stylesheet">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i" rel="stylesheet">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>
          label{
            font-family:"Open Sans",Arial, Helvetica, sans-serif;
            font-weight: 400;
            margin:2rem 0;
            font-size: 1.5rem;
          }
          body{
            background: #0A0A0A;
            color:white;
          }
          nav{
            background: #0A0A0A !important;
            border:none !important;
            border-bottom:1px solid rgb(220, 20, 60) !important;
          }
          input,textarea{
            background: rgba(51, 51, 51,.4) !important;
            color:rgb(207, 187, 187) !important;
          }
          input::-webkit-input-placeholder{
            color:#fff !important;
          }
          input[type=file]{
            background: none !important;
          }
          .container h1{
            font-family: 'Open Sans',Arial, Helvetica, sans-serif;
          }

        </style>
    </head>
    <body>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <p class="navbar-brand">NOTES APP</p>
          </div>
            <ul class="nav navbar-nav navbar-right">
              <li id="home"><a href="/notes">Post</a></li>
              
            </ul>
        </div>
      </nav>
      
        
          <div class="container">
    
        <h1>UPDATE</h1>
        
    <form class="" action="/update/<%=id%>"  method="POST" enctype="multipart/form-data">
      
        <div class="form-group">
        <label>Heading</label>
        <input class="form-control" type="text" name="postTitle" value="<%=user%>">

        <label>Sub-Heading</label>
        <input class="form-control" type="text" name="subs" value="<%=sub%>">

        <label>Resource Link</label>
        <input class="form-control" type="text" name="link" value="<%=resource%>">
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30"><%=description%></textarea>
        
      <label>Upload images</label>
      <div style="text-align: center;">
      <input type="file" value="image" class="" style="display: inline-block;" name="recfile">
    </div>
     <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
  </body>
</html>